{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <link rel="icon" href="http://www.getbootstrap.com/favicon.ico">
	    <link href="{% static "tindeers/css/bootstrap.min.css"%}" rel="stylesheet">
	    <link href="{% static "tindeers/css/bootstrap-theme.min.css"%}" rel="stylesheet">
	    <link href="{% static "tindeers/css/BStheme.css"%}" rel="stylesheet">
      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	    <script src="//www.getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>
	    <link href='http://fonts.googleapis.com/css?family=Crimson+Text:600,400' rel='stylesheet' type='text/css'>
	    <title>{% block 'title' %}Tindeers{% endblock %}</title>
        {% block 'head' %}{% endblock %}
        </head>
        <body role="document">
        <!-- Fixed navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Elevate</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="{{ home }}"><a href="/">Home</a></li>
                        <li class="{{ explore }}"><a href="{% url 'explore' %}">Explore</a></li>
                        {% if user.is_authenticated %}
                        <li class="dropdown {{ mydea }}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My'Deas <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url 'create' %}">New</a></li>
                            <li><a href="{% url 'manage_all' %}">Manage Ideas</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">My'Deas</li>
                            {% for idea in user.userprofile.my_products.all %}
                            <li><a href="{% url 'feedback' product_id=idea.pk %}">{{ idea.title }}</a></li>
                            {% endfor %}
                        </ul>
                        </li>
                        <li><a href="{% url 'logout_view' %}" class="btn btn-lg btn-primary">Log Out</a></li>
                        {% else %}
                        <li><a href="/login/facebook" class="btn btn-lg btn-primary">Facebook Login</a></li>
                        {% endif %}

                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container theme-showcase" role="main">
            {% block 'content' %}
            {% endblock %}
        </div> <!-- /container -->
        <script src="{% static "tindeers/css/bootstrap.min.js"%}"></script>
        <script src="//www.getbootstrap.com/assets/js/docs.min.js"></script>
        <script src="//www.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
        <script>
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        </script>
        {% block 'scripts' %}
        {% endblock %}
        </body>
        </html>
