{% extends 'tindeers/base.html' %}
{% load staticfiles %}
    {% block 'head' %}
        <link rel="stylesheet" href="//assets.ziggeo.com/css/ziggeo-betajs-player.min.css" />
    {% endblock %}

    {% block 'content' %}
        <div>
        <label>Title</label><input id="title" maxlength="60" type="text" placeholder="Title (60 char or less)">
        </div>
        <div>
        <label>Description</label><input id="desc" maxlength="120" type="text" placeholder="Description (120 char or less)">
        </div>
        <div>
        <label>Product URL</label><input id="url" maxlength="200" type="text" placeholder="A product URL">
        </div>
        <div>
        <p>Record a video to submit your product!</p>
        </div>
            <ziggeo ziggeo-width=320
                ziggeo-height=240>
            </ziggeo>
    {% endblock %}

    {% block 'scripts' %}
		<script src="//assets.ziggeo.com/js/ziggeo-json2-betajs-player.min.js"></script>
		<script>
            ZiggeoApi.token = "deed0f08202edade2593a0e7baf2c11f";
            ZiggeoApi.Events.on("submitted", function (data) {
                var url = "/createApi"
                    video_id = data.video.token;
                    title = $("#title").val(),
                    desc = $("#desc").val(),
                    url = $("#url").val(),
                    post_data = {"video": video_id,
                                "desc": desc,
                                "title": title, 
                                'url':url,
                                'csrfmiddlewaretoken': '{{ csrf_token }}'
                             };
                console.log(post_data);
                $.ajax({
                    type: "POST",
                    url: url,
                    data: post_data,
                    success: function(res){console.log(res)}
                });
	    	});
        </script>
    {% endblock %}
