{% extends 'tindeers/base.html' %}

{% block 'content' %}

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js"></script>
      <div class="page-header">
        <h1>My Feedback</h1>
        <h2>{{ product.title }}</h2>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Response by Gender</h3>
            </div>
            <div class="panel-body">
              <canvas id="genderChart" width="345" height="250"></canvas>
              <div class="btn-group" role="group" >
                <button type="button" id="yesGenderButton" class="btn btn-default">Yes</button>
                <button type="button" id="noGenderButton" class="btn btn-default">No</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Response by Age</h3>
            </div>
            <div class="panel-body">
              <canvas id="ageChart" width="345" height="250"></canvas>
              <div class="btn-group" role="group" >
                <button type="button" id="yesAgeButton" class="btn btn-default">Yes</button>
                <button type="button" id="noAgeButton" class="btn btn-default">No</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Response by Location</h3>
            </div>
            <div class="panel-body">
              <canvas id="locationChart" width="345" height="250"></canvas>
              <div class="btn-group" role="group" >
                <button type="button" id="yesLocationButton" class="btn btn-default">Yes</button>
                <button type="button" id="noLocationButton" class="btn btn-default">No</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Response by Education</h3>
            </div>
            <div class="panel-body">
              <canvas id="educationChart" width="345" height="250"></canvas>
              <div class="btn-group" role="group" >
                <button type="button" id="yesEducationButton" class="btn btn-default">Yes</button>
                <button type="button" id="noEducationButton" class="btn btn-default">No</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Response by Relationship</h3>
            </div>
            <div class="panel-body">
              <canvas id="relationshipChart" width="345" height="250"></canvas>
              <div class="btn-group" role="group" >
                <button type="button" id="yesRelationshipButton" class="btn btn-default">Yes</button>
                <button type="button" id="yesRelationshipButton" class="btn btn-default">No</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
              <canvas id="GenericChart" width="345" height="250"></canvas>
              <div class="btn-group" role="group" >
                <button type="button" id="yesGenericButton" class="btn btn-default">Yes</button>
                <button type="button" id="noGenericButton" class="btn btn-default">No</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="page-header">
        <h1>Comments</h1>
      </div>
      {% for comment in product.comment_set.all %}
        <div class="well">
            <p> {{ comment.text }} </p> 
        </div>
      {% endfor %}
      <div class="page-header">
        <h1>All Feedback
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" id="positivebtn" class="btn btn-default active">Positive</button>
            <button type="button" id="negativebtn" class="btn btn-default">Negative</button>
          </div>
        </h1>
      </div>

        <div>
          <table id="positivetable" class="table table-condensed">
            <thead>
              <tr>
                <th>#</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Location</th>
                <th>Education</th>
                <th>Relationship</th>
                <th>Comments</th>
              </tr>
            </thead>
            <tbody>
                {% for reviewer in positive_reviews %}
                    <tr>
                        <td> {{ forloop.counter }} </td>
                        <td> {{ reviewer.age }} </td>
                        <td> {{ reviewer.gender }} </td>
                        <td> {{ reviewer.location }} </td>
                        <td> {{ reviewer.education }} </td>
                        <td> {{ reviwer.relationship_status }} </td>
                        <td> comment </td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>

          <table id="negativetable" class="hidden table table-condensed">
            <thead>
              <tr>
                <th>#</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Location</th>
                <th>Education</th>
                <th>Relationship</th>
                <th>Comments</th>
              </tr>
            </thead>
            <tbody>
                {% for reviewer in negative_reviews %}
                    <tr>
                        <td> {{ forloop.counter }} </td>
                        <td> {{ reviewer.age }} </td>
                        <td> {{ reviewer.gender }} </td>
                        <td> {{ reviewer.location }} </td>
                        <td> {{ reviewer.education }} </td>
                        <td> {{ reviewer.relationship_status }} </td>
                        <td> comment </td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>

        </div>
      </div>
    <script>
    $(function() {
        $('#positivebtn').click(function(e) {
            $('#positivetable').removeClass('hidden');
            $('#negativetable').addClass('hidden');
            $('#positivebtn').addClass('active');
            $('#negativebtn').removeClass('active');
        });

        $('#negativebtn').click(function(e) {
            $('#negativetable').removeClass('hidden');
            $('#positivetable').addClass('hidden');
            $('#negativebtn').addClass('active');
            $('#positivebtn').removeClass('active');
        });

    });
    var genderDataYes;
    var genderDataNo;
    var ageDataYes;
    var ageDataNo;
    var educationDataYes;
    var educationDataNo;
    var relationshipDataYes;
    var relationshipDataNo;
    var locationDataYes;
    var locationDataNo;
    var chartList;
    var yesDataList;
    var noDataList;
    var genderCanvas;
    var ageCanvas;
    var educationCanvas;
    var relationshipCanvas;
    var locationCanvas;
    var genderChart;
    var ageChart;
    var educationChart;
    var relationshipChart;
    var locationChart;
    function dataVis(json_idea_data) {
      var data = json_idea_data;//JSON.parse(json_idea_data)
      function generateGenderData(genderData) {
        return [
          {
            value: genderData.male,
            color:"#87b265",
            highlight: "#b0c65f",
            label: "Male"
          },
          {
            value: genderData.female,
            color: "#BF7663",
            highlight: "#CC845D",
            label: "Female"
          },
          {
            value: genderData.eunuch,
            color: "#68c9b7",
            highlight: "#6AE2DC",
            label: "Other"
          }
        ]
      }

      function generateAgeData(ageData) {
        var AgeRanges = {"-25":0, "26-35":0,"36-50":0,"51-65":0,"65+":0};
        for (var key in data.age.yes) {
          if (data.age[key] < 25) {
            AgeRanges["-25"] += 1;
          } else if (parseInt(key) > 25 && parseInt(key) <= 35) {
            AgeRanges["26-35"] += 1;
          } else if (parseInt(key) > 35 && parseInt(key) <= 50) {
            AgeRanges["36-50"] += 1;
          } else if (parseInt(key) > 50 && parseInt(key) <= 65) {
            AgeRanges["51-65"] += 1;
          } else {
            AgeRanges["65+"] += 1;
          }
        }
        return [
          {
            value: AgeRanges["-25"],
            color:"#87b265",
            highlight: "#b0c65f",
            label: "Under 25"
          },
          {
            value: AgeRanges["26-35"],
            color:"#7178bf",
            highlight: "#6E8DBF",
            label: "26 to 35"
          },
          {
            value: AgeRanges["36-50"],
            color:"#68c9b7",
            highlight: "#6AE2DC",
            label: "36 to 50"
          },
          {
            value: AgeRanges["51-65"],
            color:"#C9B068",
            highlight: "#C4AA71",
            label: "51 to 65"
          },
          {
            value: AgeRanges["65+"],
            color:"#BF7663",
            highlight: "#CC845D",
            label: "Over 65"
          }
        ] 
      }
      function generateEducationData(educationData) {
        [
          {
            value: educationData.HS,
            color:"#87b265",
            highlight: "#b0c65f",
            label: "High School or Lower"
          },
          {
            value: educationData.GS,
            color:"#7178bf",
            highlight: "#6E8DBF",
            label: "Graduate School"
          },
          {
            value: educationData.CO,
            color:"#C9B068",
            highlight: "#C4AA71",
            label: "Undergraduate School"
          }
        ]
      }
      function generateRelationshipData(relationshipData) {
        return [
          {
            value: relationshipData.UN,
            color:"#87b265",
            highlight: "#b0c65f",
            label: "Unknown"
          },
          {
            value: relationshipData.SI,
            color:"#7178bf",
            highlight: "#6E8DBF",
            label: "Single"
          },
          {
            value: relationshipData.RE,
            color:"#C9B068",
            highlight: "#C4AA71",
            label: "Relationship"
          },
          {
            value: relationshipData.EN,
            color:"#7178bf",
            highlight: "#6E8DBF",
            label: "Engaged"
          },
          {
            value: relationshipData.MA,
            color:"#7178bf",
            highlight: "#6E8DBF",
            label: "Married"
          },
          {
            value: relationshipData.CI,
            color:"#7178bf",
            highlight: "#6E8DBF",
            label: "Civil Union"
          },
          {
            value: relationshipData.DO,
            color:"#7178bf",
            highlight: "#6E8DBF",
            label: "Domestic Partnership"
          },
          {
            value: relationshipData.OP,
            color:"#7178bf",
            highlight: "#6E8DBF",
            label: "Open Relationship"
          },
          {
            value: relationshipData.CO,
            color:"#7178bf",
            highlight: "#6E8DBF",
            label: "Complicated"
          },
          {
            value: relationshipData.SE,
            color:"#7178bf",
            highlight: "#6E8DBF",
            label: "Separated"
          },
          {
            value: relationshipData.DI,
            color:"#7178bf",
            highlight: "#6E8DBF",
            label: "Divorced"
          },
          {
            value: relationshipData.WI,
            color:"#7178bf",
            highlight: "#6E8DBF",
            label: "Widowed"
          },
        ]
      }
      function generateLocationData(locationData) {
        var LocationLabels = [];
        var LocationDataset = [];
        for (i in data.location.yes){
          LocationLabels.push(i);
          LocationDataset.push(data.location.yes[i]);
        } 
        return {
          labels: LocationLabels,
          datasets: [
              {
                  label: "Locations that reported yes",
                  fillColor: "rgba(220,220,220,0.5)",
                  strokeColor: "rgba(220,220,220,0.8)",
                  highlightFill: "rgba(220,220,220,0.75)",
                  highlightStroke: "rgba(220,220,220,1)",
                  data: LocationDataset
              },
          ]
        };  
      }
      // datasets that are going to be pie charts
      genderDataYes         = generateGenderData(data.gender.yes);
      genderDataNo          = generateGenderData(data.gender.no);
      ageDataYes            = generateAgeData(data.age.yes);
      ageDataNo             = generateAgeData(data.age.no);
      educationDataYes      = generateEducationData(data.education.yes);
      educationDataNo       = generateEducationData(data.education.no);
      relationshipDataYes   = generateRelationshipData(data.relationship.yes);
      relationshipDataNo    = generateRelationshipData(data.relationship.no);
      // dataset that is going to be a histogram
      locationDataYes       = generateLocationData(data.location.yes);
      locationDataNo        = generateLocationData(data.location.no);
      
      // an organized list of the canvas IDs,and the DataYes/No representations
      chartList   = ["genderChart","ageChart","educationChart","relationshipChart","locationChart"];
      yesDataList = [genderDataYes, ageDataYes, educationDataYes, relationshipDataYes, locationDataYes,];
      noDataList  = [genderDataNo, ageDataNo, educationDataNo, relationshipDataNo, locationDataNo];

      genderCanvas       = document.getElementById("genderChart").getContext("2d");
      ageCanvas          = document.getElementById("ageChart").getContext("2d");
      educationCanvas    = document.getElementById("educationChart").getContext("2d");
      relationshipCanvas = document.getElementById("relationshipChart").getContext("2d");
      locationCanvas     = document.getElementById("locationChart").getContext("2d");
      
      genderChart        = new Chart(genderCanvas).Pie(genderDataYes);
      ageChart           = new Chart(ageCanvas).Pie(ageDataYes);
      educationChart     = new Chart(educationCanvas).Pie(educationDataYes);
      relationshipChart  = new Chart(relationshipCanvas).Pie(relationshipDataYes);
      locationChart      = new Chart(locationCanvas).Bar(locationDataYes);

    }



    $(function(){
      $("#yesGenderButton").click(function(){
        genderChart = new Chart(genderCanvas).Pie(genderDataYes);
      });
      $("#noGenderButton").click(function(){
        genderChart = new Chart(genderCanvas).Pie(genderDataNo);
      });
      $("#yesAgeButton").click(function(){
        ageChart = new Chart(ageCanvas).Pie(ageDataYes);
      });
      $("#noAgeButton").click(function(){
        ageChart = new Chart(ageCanvas).Pie(ageDataNo);
      });
      $("#yesEducationButton").click(function(){
        educationChart = new Chart(educationCanvas).Pie(educationDataYes);
      });
      $("#noEducationButton").click(function(){
        educationChart = new Chart(educationCanvas).Pie(educationDataNo);
      });
      $("#yesRelationshipButton").click(function(){
        relationshipChart = new Chart(relationshipCanvas).Pie(relationshipDataYes);
      });
      $("#noRelationshipButton").click(function(){
        relationshipChart = new Chart(relationshipCanvas).Pie(relationshipDataNo);
      });
      $("#yesLocationButton").click(function(){
        LocationChart = new Chart(LocationCanvas).Bar(LocationDataYes);
      });
      $("#noLocationButton").click(function(){
        LocationChart = new Chart(LocationCanvas).Bar(LocationDataNo);
      });

      $.ajax({
          type: "POST",
          url: "/aggregate/{{product.id}}",
          success: function(res){
            dataVis(res);
          }

      });
  });    
    </script>
{% endblock %}
