{% extends 'tindeers/base.html' %}
{% block 'content' %}
      <div class="page-header">
        <h1>My Ideas</h1>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Idea</th>
            <th>Created on</th>
            <th>Views</th>
            <th>Comments</th>
            <th>Liked</th>
            <th>View</th>
            <th>Edit Info</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for idea in ideas %}
            <tr>
              <td> {{ forloop.counter }}</td>
              <td> {{ idea.title }} </td>
              <td> DATE </td>
              <td> {{ idea.raters.count }} </td>
              <td> {{ idea.comment_set.count }} </td>
              <td> {{ idea.positive }} </td>
              <td><a type="button" class="btn btn-xs btn-primary" href="{% url 'feedback' product_id=idea.pk %}">Dashboard ></a></td>
              <td><a type="button" class="btn btn-xs btn-info">Edit ></a></td>
              <td><a type="button" class="btn btn-xs btn-danger">Delete ></a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

{% endblock %}
