{% extends 'tindeers/base.html' %}

{% block 'content' %}
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Elevate</h1>
        <p>Elevate is a unique platform to explore the applications of the future as well as explore potential demographic interest in your application. Log in to explore current application elevator speaches!</p>
        <p><a href="/login/facebook" class="btn btn-lg btn-primary">Facebook Login</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Don't miss the Future</h2>
          <p>Get notifications from applications you in which you've shown interest to current with cutting edge apps.</p>
        </div>
        <div class="col-md-4">
          <h2>Find User Interest</h2>
          <p>A zero-cost and low time investment manner to get quick feedback on project ideas.</p>
       </div>
        <div class="col-md-4">
          <h2>Demographic Information</h2>
          <p>Beyond just interest levels the information can be broken down into different demographic groups so you can determine the target audience of your pitch.</p>
        </div>
      </div>

     </div> <!-- /container -->


{% endblock %}